@import "tailwindcss";
@import "@fontsource/lato/400.css";
@import "@fontsource/lato/700.css";
@import "@fontsource/lato/900.css";

:root {
  --background: #1f0f0f;
  --foreground: #f8f8f8;
  --color-font: #536952;
  --color-bento: #FFFFFF;
  --font-primary: "Lato", sans-serif;
  
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #aea8a8;
  }
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 12s linear infinite;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-primary);
}
